img:not(.mainImage) {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 50%;
  height: 400px; 
}

.mainImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 400px; 
}

body {
  font-family: serif;
  background-color: bisque;
}

h1 {
  color: rgb(1, 1, 32);
  text-align: left;
  font-style: underline;
  text-align: center;
}

.result {
  text-align: center;
}
.result {
  display: none;
}

#startQuiz {
  display: none;
}

h2 {
  color: rgb(1, 1, 32);
  text-align: left;
  font-style: underline;
  text-align: center;
}